:root {
    --base-fonts: 'PFDinDisplayPro';

    --title-font-size: 500;
    --text-font-size: 400;

    --accent-green-text-color: rgb(0, 51, 51);
    --accent-orange-text-color: rgb(255, 102, 51);
    --hover-text-color: rgb(0, 0, 0);
}
