:root {
  --base-fonts: "PFDinDisplayPro";

  --title-font-size: 500;
  --text-font-size: 400;
  // base settings
  --font-size-base-text-header-min: 16;
  --font-size-base-text-header-max: 16;
  //   sizes
  --pc: 1400;
  --tablet: 768;
  --mobile: 320;
  //   collors
  --accent-green-text-color: rgb(0, 51, 51);
  --accent-orange-text-color: rgb(255, 102, 51);
  --hover-text-color: rgb(0, 0, 0);
  --text-white-color: rgb(255, 255, 255);
}
